{{#partial "content"}}
    <div class="slide-container">

        <div class="wrapper">
            <div class="clash-card barbarian text-center" >
                <div class="clash-card__image clash-card__image--barbarian">
                    <img src="images/home1.jpeg" alt="" />
                </div>
                <div class="clash-card__unit-name ">REGISTERED HEROES</div>
                <hr>
                <div class="squad">
                    <div id="newMember">
                        <p class="close">&cross;</p>
                        {{#each heroes}}
                            <div class="hero-item">

                                <div class="hero-detail">
                                    <p>Name: {{ name }}</p>
                                    <p>Age: {{ age }} years old</p>
                                    <p>Super power: {{ power }}</p>
                                    <p>Weakness: {{ weakness }}</p>
                                    <a class="btn btn-success" href="/squad/new/{{id}}">Add To Squad</a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                    <a href="/squad" class="btn btn-success">Add {{ name }} To Squad</a>

                </div>

            </div>
        </div>
    </div>

    </div> <!-- end clash-card barbarian-->
    </div> <!-- end wrapper -->
{{/partial}}

{{> layout.hbs}}
